In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('ref/04-Pandas-Exercises/Ecommerce Purchases')

In [5]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [8]:
df['Purchase Price'].mean()

50.34730200000025

In [10]:
df['Purchase Price'].max()

99.99

In [11]:
df['Purchase Price'].min()

0.0

In [18]:
#sum(df[df['Language']=='en'])
sum(df['Language']=='en')

1098

In [20]:
sum(df['Job']=='Lawyer')

30

In [24]:
print(df[df['AM or PM']=='AM']['AM or PM'].value_counts())
print(df[df['AM or PM']=='PM']['AM or PM'].value_counts())

AM    4932
Name: AM or PM, dtype: int64
PM    5068
Name: AM or PM, dtype: int64

In [29]:
df['Job'].value_counts()

Interior and spatial designer                                  31
Lawyer                                                         30
Social researcher                                              28
Designer, jewellery                                            27
Research officer, political party                              27
Purchasing manager                                             27
Dietitian                                                      26
Special educational needs teacher                              26
Social worker                                                  26
Charity fundraiser                                             26
Designer, fashion/clothing                                     26
Radio broadcast assistant                                      25
Designer, interior/spatial                                     25
Sports therapist                                               25
Therapist, art                                                 25
Secretary/administrator                                        25
Advice worker                                                  25
Engineer, water                                                25
Network engineer                                               25
Psychologist, clinical                                         25
Hydrologist                                                    24
Psychotherapist, dance movement                                24
Armed forces technical officer                                 24
Civil engineer, contracting                                    24
Television camera operator                                     24
Scientist, clinical (histocompatibility and immunogenetics)    24
Geneticist, molecular                                          24
Wellsite geologist                                             24
Market researcher                                              23
Copywriter, advertising                                        23
                                                               ..
Forensic psychologist                                           9
Surveyor, commercial/residential                                9
Investment banker, operational                                  9
Marketing executive                                             9
Engineer, technical sales                                       9
Trade union research officer                                    9
Toxicologist                                                    9
Doctor, general practice                                        9
Sales promotion account executive                               9
Armed forces training and education officer                     9
Financial risk analyst                                          9
Administrator, local government                                 9
Adult nurse                                                     9
Senior tax professional/tax inspector                           9
Bookseller                                                      8
Child psychotherapist                                           8
Technical brewer                                                8
Art gallery manager                                             8
Nurse, learning disability                                      8
Exhibitions officer, museum/gallery                             8
Diplomatic Services operational officer                         8
Audiological scientist                                          8
Prison officer                                                  7
Music therapist                                                 7
Stage manager                                                   7
Special effects artist                                          7
Actuary                                                         6
Editor, film/video                                              6
Investment analyst                                              5
Information systems manager                                     5
Name: Job, Length: 623, dtype: int64

In [33]:
df[df['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [37]:
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [39]:
#df[df['CC Provider']=='American Express']

In [46]:
df[(df['CC Provider']=='American Express') & (df['Purchase Price']>95)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 9 to 9856
Data columns (total 14 columns):
Address             39 non-null object
Lot                 39 non-null object
AM or PM            39 non-null object
Browser Info        39 non-null object
Company             39 non-null object
Credit Card         39 non-null int64
CC Exp Date         39 non-null object
CC Security Code    39 non-null int64
CC Provider         39 non-null object
Email               39 non-null object
Job                 39 non-null object
IP Address          39 non-null object
Language            39 non-null object
Purchase Price      39 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 4.6+ KB

In [89]:
df[df['CC Exp Date'].apply(lambda x: x[3:]=='25')].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1033 entries, 4 to 9996
Data columns (total 14 columns):
Address             1033 non-null object
Lot                 1033 non-null object
AM or PM            1033 non-null object
Browser Info        1033 non-null object
Company             1033 non-null object
Credit Card         1033 non-null int64
CC Exp Date         1033 non-null object
CC Security Code    1033 non-null int64
CC Provider         1033 non-null object
Email               1033 non-null object
Job                 1033 non-null object
IP Address          1033 non-null object
Language            1033 non-null object
Purchase Price      1033 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 121.1+ KB

In [83]:
df['CC Exp Date'][3:]

3       02/24
4       10/25
5       07/25
6       07/24
7       06/25
8       04/24
9       01/17
10      02/17
11      06/26
12      05/26
13      01/25
14      09/22
15      04/25
16      06/22
17      01/26
18      12/22
19      02/20
20      03/22
21      03/25
22      07/22
23      02/23
24      07/18
25      05/19
26      03/19
27      12/16
28      11/24
29      07/22
30      04/17
31      03/22
32      01/20
        ...
9970    07/19
9971    01/21
9972    04/22
9973    02/19
9974    04/26
9975    01/19
9976    08/21
9977    06/21
9978    11/21
9979    10/23
9980    12/24
9981    01/19
9982    09/18
9983    04/23
9984    03/21
9985    08/21
9986    08/18
9987    12/24
9988    10/16
9989    12/23
9990    04/24
9991    02/24
9992    10/20
9993    10/25
9994    01/25
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 9997, dtype: object

pandas.core.series.Series