In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [3]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [14]:
series1 = pd.Series([1,2,3,4],['USA','China','India','Japan'])

In [15]:
series2 = pd.Series([1,2,5,4],['USA','China','India','Japan'])

In [18]:
series3 = series1+series2

In [20]:
series3['India']

8