In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [5]:
np.random.seed(101)
df = pd.DataFrame(randn(5,5),['a','b','c','d','e'],['v','w','x','y','z'])

In [12]:
df

          v         w         x         y         z
a  2.706850  0.628133  0.907969  0.503826  0.651118
b -0.319318 -0.848077  0.605965 -2.018168  0.740122
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [13]:
df['v']

a    2.706850
b   -0.319318
c    0.528813
d    0.955057
e    0.302665
Name: v, dtype: float64

In [16]:
df.loc['a']

v    2.706850
w    0.628133
x    0.907969
y    0.503826
z    0.651118
Name: a, dtype: float64

In [17]:
df[['v','y']]

          v         y
a  2.706850  0.503826
b -0.319318 -2.018168
c  0.528813 -0.758872
d  0.955057  2.605967
e  0.302665 -1.159119

In [18]:
 df.loc[['a','c']]

          v         w         x         y         z
a  2.706850  0.628133  0.907969  0.503826  0.651118
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237

In [22]:
df.iloc[0]

v    2.706850
w    0.628133
x    0.907969
y    0.503826
z    0.651118
Name: a, dtype: float64

In [23]:
df2 = df

In [24]:
df2

          v         w         x         y         z
a  2.706850  0.628133  0.907969  0.503826  0.651118
b -0.319318 -0.848077  0.605965 -2.018168  0.740122
c  0.528813 -0.589001  0.188695 -0.758872 -0.933237
d  0.955057  0.190794  1.978757  2.605967  0.683509
e  0.302665  1.693723 -1.706086 -1.159119 -0.134841

In [25]:
df2.pop('w')

a    0.628133
b   -0.848077
c   -0.589001
d    0.190794
e    1.693723
Name: w, dtype: float64

In [27]:
df2

          v         x         y         z
a  2.706850  0.907969  0.503826  0.651118
b -0.319318  0.605965 -2.018168  0.740122
c  0.528813  0.188695 -0.758872 -0.933237
d  0.955057  1.978757  2.605967  0.683509
e  0.302665 -1.706086 -1.159119 -0.134841

In [32]:
df2['alpha'] = df2['v']+df2['y']

In [33]:
df2['alpha']

a    3.210676
b   -2.337486
c   -0.230059
d    3.561024
e   -0.856454
Name: alpha, dtype: float64

In [34]:
df2

          v         x         y         z     alpha
a  2.706850  0.907969  0.503826  0.651118  3.210676
b -0.319318  0.605965 -2.018168  0.740122 -2.337486
c  0.528813  0.188695 -0.758872 -0.933237 -0.230059
d  0.955057  1.978757  2.605967  0.683509  3.561024
e  0.302665 -1.706086 -1.159119 -0.134841 -0.856454

In [35]:
df2.pop('alpha')

a    3.210676
b   -2.337486
c   -0.230059
d    3.561024
e   -0.856454
Name: alpha, dtype: float64

In [37]:
df2

          v         x         y         z
a  2.706850  0.907969  0.503826  0.651118
b -0.319318  0.605965 -2.018168  0.740122
c  0.528813  0.188695 -0.758872 -0.933237
d  0.955057  1.978757  2.605967  0.683509
e  0.302665 -1.706086 -1.159119 -0.134841

In [39]:
df2.drop('a')

          v         x         y         z
b -0.319318  0.605965 -2.018168  0.740122
c  0.528813  0.188695 -0.758872 -0.933237
d  0.955057  1.978757  2.605967  0.683509
e  0.302665 -1.706086 -1.159119 -0.134841

In [41]:
df2.drop('v',axis = 1)

          x         y         z
a  0.907969  0.503826  0.651118
b  0.605965 -2.018168  0.740122
c  0.188695 -0.758872 -0.933237
d  1.978757  2.605967  0.683509
e -1.706086 -1.159119 -0.134841

In [42]:
df2

          v         x         y         z
a  2.706850  0.907969  0.503826  0.651118
b -0.319318  0.605965 -2.018168  0.740122
c  0.528813  0.188695 -0.758872 -0.933237
d  0.955057  1.978757  2.605967  0.683509
e  0.302665 -1.706086 -1.159119 -0.134841

In [43]:
df2.drop('v',axis=1,inplace=True)

In [44]:
df2

          x         y         z
a  0.907969  0.503826  0.651118
b  0.605965 -2.018168  0.740122
c  0.188695 -0.758872 -0.933237
d  1.978757  2.605967  0.683509
e -1.706086 -1.159119 -0.134841

In [46]:
df2.loc[['a','b'],['y','z']]

          y         z
a  0.503826  0.651118
b -2.018168  0.740122